@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.home{
    width: 100%;
    height: 100vh;
    margin-bottom: 10px;
}

/* navbar one  */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    width: 100vw;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid rgba(128, 128, 128, 0.706);
    z-index: 100;
}
.logo{
    padding-left: 40px;
    font-size: 30px;
}

.menu a{
    text-decoration: none;
    padding: 0 20px;
    color: black;
}
.active{
    color: #ff764d;
}

.sign-in{
    padding-right: 40px;
}
.active2{
    color: blue;
}

.sign-in a{
    text-decoration: none;
    color: black;
    padding: 0 20px;
}

/* second navbar have position sticky */
.navbar2{
    width: 100vw;
    height: 50px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 40px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.616);
    z-index: 100;
}

.navbar2 a{
    text-decoration: none;
    color: black;
    padding: 0 20px;
}
.navbar2 a:active{
    color: #ff764d;
}
.navbar2 a:hover{
    color: #ff764d;
}

/* landing page style for home page and hero image  */
.hero {
    width: 100%;
    height: calc(100vh - 125px);
}
.hero-img{
    width: 100%;
    height: calc(100vh - 125px);
    background-position: center;
    background-size: cover;
    padding: 0 12% 0 12%;
    position: relative;
}
.hero-title{
    position: absolute;
    top: 40%;
    left: 30%;
    color: #ff764d;
    font-size: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* starting style of about section  */
#about{
    width: 100%;
    height: 70vh;
    padding: 8% 27% 8% 27%;
}
.about-pr{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 45px;
}
.about-pr a{
    text-decoration: none;
    color: blue;
}

.about-pr2{
    padding-top: 20px;
    font-size: 20px;
}

/* this is a section having two images and one background with positions */
.sec-3{
    width: 100%;
    height: 130vh;
}
.bg1{
    background-color: #fbffa7;
    position: absolute;
    height: 130vh;
    right: 0;
    width: 65%;
    z-index: -5;
}
.img-1{
    position: relative;
    top: 10%;
    height: 80%;
    width: 35%;
    margin-left: 10%;
    margin-right: 10%;
}
.img-2{
    position: relative;
    top: 0%;
    width: 40% ;
    height: auto;
    border-radius: 5px;
}

/* this section of page containe two text sections and one video  */
.sec-4{
    width: 100%;
    height: 200vh;
    padding: 10% 25% 10% 25%;
}
.sec-para{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 45px;
}
.sec-para2{
    padding-top: 30px;
    font-size: 20px;
}

.sec-video{
    padding-top: 100px;
}

.sec-pr2{
    padding-top: 100px;
}

/* another section having one background and three images */
.sec-5{
    width: 100%;
    height: 150vh;
}
.bg2{
    background-color: #b6ffc0;
    width: 60%;
    height: 150vh;
    z-index: -5;
    position: absolute;
}
.img-3{
    position: relative;
    top: 10%;
    left: 10%;
    width: 30%;
}
.img-4{
    position: relative;
    top: 60%;
    right: 20%;
    width: 30%;
}
.img-5{
    position: relative;
    bottom: 15%;
    width: 40%;
    height: 700px;
    left: 50%;
}

/* 6th section is here  */
.sec-6-p{
    margin-bottom: 15%;
}
.s-6-pr{
    padding: 10% 25% 10% 25%;
}
.m-pr{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 45px;
}
.p-pr{
    padding-top: 30px;
    font-size: 20px;
}
.s-6-img{
    width: 80vw;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}

.bg3{
    background-color: #d5b3ff;
    width: 60vw;
    height: 120vh;
    margin: 0 20% 0 20%;
    position: absolute;
    z-index: -5;
}
.img-7{
    position: relative;
    bottom: 0;
    left: 110px;
    width: 30vw;
    height: 50vh;
}
.img-8{
    position: relative;
    top: 110px;
    left: 400px;
    width: 40vw;
    height: 90vh;
}

.last-sec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 7%;
}
.last-img{
    background-image: url(../Assets/9.jpeg);
    background-position: center;
    background-size: cover;
    width: 40vw;
    height: 90vh;
}
.last-div{
    width: 40vw;
    height: 90vh;
    background-color: #b1c5ff;
}
.last-pr{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 45px;
    color: black;
    padding: 16% 20% 7% 20%;
}
.last-div a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #0000ff;
    padding-left: 20%;
}
.last-div .material-symbols-outlined{
    font-size: 28px;
    color: #0000ff;
}

/* this is footer section styling */
.footer{
    width: 100vw;
    height: 130vh;
    padding: 10% 7% 10% 10%;
}
.footer-row{
    display: flex;
    flex-direction: row;
}
.footer-col{
    display: flex;
    flex-direction: column;
}
.f-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    padding-bottom: 90px;
}
.footer a{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-top: 10px;
}
.com{
    padding-top: 100px;
}

.footer-col-2{
    padding-left: 100px;
    padding-top: 175px;
}

.lang{
    padding-top: 65px;
}
.lang select{
    height: 30px ;
    background-color: #EEEEEE ;
    border: none;
    margin-top: 20px;
}
.lan{
    width: 110px;
}
.loc{
    width: 200px;
}

.footer-col-3{
    width: 40%;
    padding-left: 50px;
    padding-top: 175px;
}

.news-p{
    font-size: 20px;
    padding-top: 20px;
    line-height: 25px;
}

.footer form{
    padding-top: 20px;
}

input{
    width: 70%;
    height: 40px;
    padding-left: 20px;
    background-color: #EEEEEE;
    border: none;
    font-size: 17px;
}
button{
    font-size: 15px;
    width: 27%;
    height: 40px;
    background-color: blue;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-left: 0;
}
button:hover{
    cursor: pointer;
}