@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.home{
    width: 100%;
    height: 100vh;
    margin-bottom: 10px;
}

/* navbar one  */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    width: 100vw;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid rgba(128, 128, 128, 0.706);
    z-index: 100;
}
.logo{
    padding-left: 40px;
    font-size: 30px;
}

.menu a{
    text-decoration: none;
    padding: 0 20px;
    color: black;
}
.active{
    color: #ff764d;
}

.sign-in{
    padding-right: 40px;
}
.active2{
    color: blue;
}

.sign-in a{
    text-decoration: none;
    color: black;
    padding: 0 20px;
}

/* second navbar have position sticky */
.navbar2{
    width: 100vw;
    height: 50px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 40px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.616);
    z-index: 100;
}

.navbar2 a{
    text-decoration: none;
    color: black;
    padding: 0 20px;
}
.navbar2 a:active{
    color: #ff764d;
}
.navbar2 a:hover{
    color: #ff764d;
}

/* landing page style for home page and hero image  */
.hero {
    width: 100%;
    height: calc(100vh - 125px);
}
.hero-img{
    width: 100%;
    height: calc(100vh - 125px);
    background-position: center;
    background-size: cover;
    padding: 0 12% 0 12%;
    position: relative;
}
.hero-title{
    position: absolute;
    top: 40%;
    left: 30%;
    color: #ff764d;
    font-size: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* starting style of about section  */
#about{
    width: 100%;
    height: 70vh;
    padding: 8% 27% 8% 27%;
}
.about-pr{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 45px;
}
.about-pr a{
    text-decoration: none;
    color: blue;
}

.about-pr2{
    padding-top: 20px;
    font-size: 20px;
}

/* this is a section having two images and one background with positions */
.sec-3{
    width: 100%;
    height: 120vh;
}
.bg1{
    background-color: #fbffa7;
    position: absolute;
    height: 130vh;
    right: 0;
    width: 65%;
    z-index: -5;
}
.img-1{
    position: relative;
    top: 15%;
    height: 80%;
    width: 35%;
    margin-left: 10%;
    margin-right: 10%;
}
.img-2{
    position: relative;
    top: 0%;
    width: 40% ;
    height: auto;
    border-radius: 5px;
}